@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
a{
    text-decoration: none;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    display: inline;
}
body{
    background-color: #1E1E1E;
}
.header{
    background-color: #2e2e2e;
    height: 70px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-family: "Luckiest Guy", cursive;
    font-size: 47px;
    margin: 6px 45px;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 3px 3px 1px black;
}
.media{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-right: 90px;
}
.media ul{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.media ul li a{
    color: #9A9A9A;
    transition: 0.3s ease-in-out;
    text-shadow: 2px 2px 1px black;
}
.media ul li a:hover{
    color: #c9c9c9;
}
.right-button{
    margin-right: 15px;
}
.right-button a input{
    width: 190px;
    height: 45px;
    font-weight: 800;
    font-size: 16px;
    border: none;
    background-color: #6A6A6A;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 1px black;
}
.right-button a input:hover{
    background-color: #8a8a8a;
}



.wrapper{
    height: 450px;
    margin-top: 20px;
}
.block-s{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
    
}
.discord-block{
    background-color: #2E2D2D;
    width: 600px;
    height: 360px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
}
.telegram-block{
    background-color: #2E2D2D;
    width: 600px;
    height: 360px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgb(59, 59, 59);
}
.image-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
}
.image-block img{
    width: 150px;
}
.image-block-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.image-block-1 img{
    width: 400px;
}
.button-link-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.button-link-block a input{
    width: 155px;
    height: 45px;
    font-weight: 800;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #7D7D7D;
    font-size: 18px;
    margin-right: 50px;
    font-family: "Inter", sans-serif;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 1px black;
}
.button-link-block a input:hover{
    background-color: #5c5c5c;
}
.button-link-block p{
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #D1D1D1;
    margin-bottom: 0px;
    margin-right: 20px;
}
.button-link-block-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 61px;
}
.button-link-block-1 a input{
    width: 155px;
    height: 45px;
    font-weight: 800;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #7D7D7D;
    font-size: 18px;
    margin-right: 50px;
    font-family: "Inter", sans-serif;
    transition: 0.3s ease-in-out;
    margin-left: 15px;
    box-shadow: 2px 2px 1px black;
}
.button-link-block-1 a input:hover{
    background-color: #5c5c5c;
}
.button-link-block-1 p{
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #D1D1D1;
    margin-bottom: 0px;
    margin-right: 20px;
}
.stats-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.stats-block p{
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgb(204, 204, 204);
    background-color: #2E2D2D;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(54, 54, 54);
    border-radius: 15px;
    font-size: 18px;
}
.stats-wrapper{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stats-box{
    display: inline-flex;
    flex-direction: row;
    gap: 90px;
    background-color: #3d3d3d;
    width: 1000px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    box-shadow: 1px 1px 1px black;
}
.Place p{
    background-color: #5c5c5c;
    width: 170px;
    height: 60px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgb(235, 235, 235);
    box-shadow: 1px 1px 2px rgb(43, 42, 42);
    text-shadow: 1px 1px 1px black;
    transition: 0.3s ease-in-out;
}
.Place p:hover{
    box-shadow: 0px 0px 15px 0px rgb(124, 124, 124);
}
.elo p{
    background-color: #5c5c5c;
    width: 170px;
    height: 60px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgb(235, 235, 235);
    box-shadow: 1px 1px 2px rgb(43, 42, 42);
    text-shadow: 1px 1px 1px black;
    transition: 0.3s ease-in-out;
}
.elo p:hover{
    box-shadow: 0px 0px 15px 0px rgb(124, 124, 124);
}
.member p{
    background-color: #5c5c5c;
    width: 170px;
    height: 60px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgb(235, 235, 235);
    box-shadow: 1px 1px 2px rgb(43, 42, 42);
    text-shadow: 1px 1px 1px black;
    transition: 0.3s ease-in-out;
}
.member p:hover{
    box-shadow: 0px 0px 15px 0px rgb(124, 124, 124);
}
.kills p{
    background-color: #5c5c5c;
    width: 170px;
    height: 60px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgb(235, 235, 235);
    box-shadow: 1px 1px 2px rgb(43, 42, 42);
    text-shadow: 1px 1px 1px black;
    transition: 0.3s ease-in-out;
}
.kills p:hover{
    box-shadow: 0px 0px 15px 0px rgb(124, 124, 124);
}


.footer{
    margin-top: 210px;
    height: 100px;
}
.container-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-box{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #9A9A9A;
}
.left-box{
    margin-top: 30px;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #9A9A9A;
}